@model DenemeSWE.Models.User
@{
    ViewBag.Title = "Login";
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Log in</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="~/web/assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/web/css/styles.css" rel="stylesheet" />

</head>
<body id="page-top">
    <section class="page-section" id="contact">
        <div class="container">
            <!-- Contact Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Login</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Contact Section Form-->
            <div class="row justify-content-center">
                <div class="col-lg-8 col-xl-7">
                    
                    @using (Html.BeginForm("Login", "User", FormMethod.Post))
                    {
                        <form id="contactForm" data-sb-form-api-token="API_TOKEN">

                            @Html.AntiForgeryToken()
                            <!-- Email address input-->
                            <div class="form-floating mb-3">
                                @Html.ValidationMessageFor(model => model.email)
                                @Html.TextBoxFor(m => m.email, new { @class = "form-control", @id = "name", @placeholder = "name@example.com" })
                                <label for="email">Email address</label>
                                <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                                <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                            </div>
                            <!-- Password input-->
                            <div class="form-floating mb-3">
                                @Html.ValidationMessageFor(model => model.password)
                                @Html.TextBoxFor(m => m.password, new { @class = "form-control", @id = "name", @type = "password", @placeholder = "name@example.com" })
                                <label for="name">Password</label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">A password is required.</div>
                            </div>
                            <!-- Submit success message-->
                            <!---->
                            <!-- This is what your users will see when the form-->
                            <!-- has successfully submitted-->
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3">
                                    <div class="fw-bolder">Form submission successful!</div>
                                    To activate this sform, sign up at
                                    <br />
                                    <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                </div>
                            </div>
                            <!-- Submit Button-->
                            <button id="submitButton" style="color:#fff; background-color: #1abc9c;padding: 1rem 21.75rem; font-size: 1.25rem; box-sizing: border-box;" type="submit">
                                Login
                            </button>
                            
                        </form>
                    }
                    </div>
                <div class="">

                    @if (ViewData["LoginFlag"] != null)
                    {
                        <p class="text-head" style="color: red; background: lightpink; padding: 5px 10px; border: none; display: block; width: 57.7%; border-radius: 2px; margin-left:275px; text-align:center">
                            @ViewData["LoginFlag"]
                        </p>
                    }

                </div>
            </div>
        </div>
    </section>
</body>
</html>
